@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  color: var(--black);
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif; }

:root {
  --white: #FFFFFF;
  --black: #0A0A0A; }

ul {
  list-style-type: none; }
a {
  list-style: none;
  text-decoration: none; }
body { background-color: var(--white); }

.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 20px; }

header .nav-logo {
  margin: 20px 0; }
header .navbar-nav {
  display: flex;
  flex-wrap: wrap; }
header .navbar-first {
  border-radius: 4px;
  background: linear-gradient(100deg, #21409A 10%, #007CBD 100%); }
header .navbar-second {
  background-color: #F0F0F0; }
header .navbar .navbar-nav .nav-item {
  padding: 5px 12px; }
header .navbar .navbar-nav .nav-item .nav-link {
  padding: 0; 
  font-weight: 700;
  font-size: 12px; }
header .navbar-first .navbar-nav .nav-item .nav-link {
  color: var(--white); }
header .navbar-second .navbar-nav .nav-item .nav-link {
  color: var(--black); }

main .article-area {
  display: grid;
  margin: 20px 0;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(180px, 1fr)); }
main .article-area .card {
  width: 100%;
  border: none; 
  background-color: transparent; }
main .article-area .card img {
  border-radius: 4px;
  margin-bottom: 10px; }
main .article-area .card p {
  font-weight: 500; }

main article .headline .headline-card .headline-image {
  height: 390px;
  padding: 16px;
  object-fit: cover;
  background-size: cover;
  border-radius: 10px 10px 0 0;
  background-repeat: no-repeat;
  background-image: url("../img/headline.jpg");
  box-shadow: inset 0px -116px 13px rgba(0, 0, 0, 0.2); }
main article .headline .headline-card .headline-image h1 {
  font-size: 23px;
  font-weight: 700; 
  color: var(--white); }
main article .headline .headline-card .headline-image p {
  color: white;
  margin: 0;
  font-size: 12px; }

main article .headline .headline-card .headline-info {
  padding: 12px 16px;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(100deg, #21409A 10%, #007CBD 100%); }
main article .headline .headline-card .headline-info .headline-title {
  color: #FCC43F; }
main article .headline .headline-card .headline-info .headline-list {
  margin-top: 10px; }
main article .headline .headline-card .headline-info .headline-list .headline-text a {
  color: var(--white); }
main article .headline .biznet-banner {
  margin: 20px 0; } 
main article .headline .biznet-banner img {
  width: 100%; } 
  
main article .headline .biznet-article .biznet-card {
  gap: 10px;  }
main article .headline .biznet-article .biznet-card img {
  width: 120px;
  border-radius: 4px; }
main article .headline .biznet-article .biznet-card p {
  margin: 0; 
  font-weight: 700; }
main article .headline .biznet-article .biznet-card span {
  font-size: 10px;
  font-weight: 700; 
  color: #9B9B9B; }

main article aside img {
  width: 100%; }

footer {
  padding: 32px 0;
  margin-top: 20px;
  background-color: #F0F0F0;
  border-top: 4px solid #21409A; }
footer .container {
  display: flex;
  flex-wrap: wrap; }
footer .container .footer-nav ul {
  padding: 0; }
footer .container .footer-nav .logo {
  width: 189px; 
  margin-bottom: 12px; }
footer .container .footer-nav .footer-part-of p {
  margin: 0; }
footer .container .footer-nav .footer-part-of img {
  width: 80px;
  margin: 0 0 5px 5px; }
footer .container .footer-nav .footer-social-icon {
  gap: 8px;
  flex-wrap: wrap; 
  margin-top: 10px; }
footer .container ul li a, .footer-text {
  font-size: 12px;
  font-weight: 600;
  color: #666666; }
footer .container .footer-nav .footer-nav-title {
  font-weight: 700;
  margin-bottom: 8px; }
footer .container .footer-nav .footer-item {
  margin: 4px 0;
  padding-right: 20px; }
footer .container .footer-nav .inherit  {
  column-count: 2;
  display: inherit; }

@media (min-width: 992px) {
  main article,
  main article .headline .headline-card .headline-info .headline-list,
  main article .headline .biznet-article {
    gap: 20px; 
    display: flex; }

  footer .container .footer-nav:first-child {
    text-align: center; }
  footer .container .footer-nav .footer-part-of {
    justify-content: center; }
  footer .container .footer-nav .footer-social-icon {
    justify-content: center; }
  footer .container .footer-nav .footer-social, 
  footer .container .footer-nav .footer-copyright {
    margin-top: 40px; }
  footer .container .footer-nav {
    padding: 0 25px; }
}

@media (max-width: 992px) {
  header .nav-logo img {
    width: 189px; }

  main article .headline {
    width: 100%; }
  main article .headline .biznet-article .biznet-card:first-child,
  main .headline-text:first-child {
    margin-bottom: 10px; }
  main article aside img {
    display: none; }

  footer .container .footer-nav {
    margin: 0 20px; }
  footer .container .footer-nav .footer-social, 
  footer .container .footer-nav .footer-copyright {
    margin-top: 20px; }

  .dis-none {
    display: none; }
}